body {
    display: flex;
    flex-direction: column;
    height: 100vh;

    font-size: 23rem;

}


.specialHeader{

    font-size: 40;
}

.container {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}
