{% extends "hotel_pms/index.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Approve Registration</h2>
    <form method="POST">
        {% csrf_token %}
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%;">#</th>
                    <th scope="col" style="width: 40%;">Username</th>
                    <th scope="col" style="width: 40%;">Staff ID</th>
                    <th scope="col" style="width: 10%;">Approve</th>
                </tr>
            </thead>
            <tbody>
            {% for staff_request in staff_requests %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ staff_request.username }}</td>
                    <td>{{ staff_request.staff_id }}</td>
                    <td>
                        <div class="form-check d-flex justify-content-center">
                            <input class="form-check-input" type="checkbox" name="staff_request_id" value="{{ staff_request.id }}">
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Approve Selected</button>
    </form>
</div>
{% endblock %}
