{% extends "hotel_pms/index.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Customer Detail for {{ guest.user.username }}</h2>
    <p><strong>Full Name:</strong> {{ guest.user.first_name }} {{ guest.user.last_name }}</p>
    <p><strong>Email:</strong> {{ guest.user.email }}</p>
    <p><strong>ID:</strong> {{ guest.id_number }}</p>
    <img src="{{ guest.id_document.url }}" alt="ID document for {{ guest.user.username }}" class="img-fluid" style="max-width: 300px;">
    
    <a href="{% url 'guest_detail_pdf' guest.id %}" class="btn btn-primary" target="_blank">Print Registration Card</a>

</div>
{% endblock %}
