{% extends "hotel_pms/index.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Manage Rooms</h2>
    <table class="table">
        <thead>
            <tr>  
                <th scope="col">Name</th> <!-- Replaced 'Image' with 'Name' -->
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Rate</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <th scope="row">{{ room.name }}</th> <!-- Display room name instead of image -->
                <td>{{ room.get_room_type_display }}</td>
                <td>{{ room.get_status_display }}</td>
                <td>{{ room.rate }}</td>
                <td>
                    <a href="{% url 'edit_room' room.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_room' room.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
