{% extends "hotel_pms/index.html" %}

{% block content %}
<style>
    .content {
        max-width: 800px;
        margin: 0 auto;
        padding-top: 20px;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .table thead {
        background-color: #f7f7f7;
    }

    .table, .table th, .table td {
        border: 1px solid #ccc;
    }

    .table th, .table td {
        padding: 10px;
        text-align: center;
    }

    .table th {
        text-align: left;
    }

    .table td a {
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        margin-right: 10px; /* Adding space between buttons */
    }

    .table td a.btn-primary {
        background-color: #007BFF;
        color: #FFF;
    }

    .table td a.btn-danger {
        background-color: #dc3545;
        color: #FFF;
    }

    .table td a:hover {
        opacity: 0.7;
    }
</style>
<div class="content">
    <h2>Manage Rooms</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Rate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.get_room_type_display }}</td>
                <td>{{ room.get_status_display }}</td>
                <td>{{ room.rate }}</td>
                <td>
                    <a href="{% url 'edit_room' room.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_room' room.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
